.colorBody{
    background-color: pink;
    height: 100% !important;
}

.colorNav{
    background-color: #d63384;
}

.colorTextNav{
    color: white;
    font-style: bold;
}

.footer1{
    width: 100%;
    position: absolute;
    bottom: 0vh;
}

.footer div div a{
    text-decoration: none;
}

div img{
    height: 180px;
}

.card{
    background-color: #d63384;
}

.card-body{
    color: white;
}